.list-container {
    min-width: 600px;
}
.list-container h1 {
    font-size: 2rem;
}
.list-container .list-item {
    max-height: 500px;  
    overflow: scroll;
    display: flex;
}
.input {
    width: 100%;
    margin: 0 1rem;
    border: 0;
}
.list {
    width: 100%;
}